[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/q993917361
[access "refs/for/refs/*"]
	read = group user/q993917361
	push = group user/q993917361
	label-Code-Review = -2..+2 group user/q993917361
	label-Verified = -1..+1 group user/q993917361
	rebase = group user/q993917361
	removeReviewer = group user/q993917361
	submit = group user/q993917361
[access "refs/heads/*"]
	read = group user/q993917361
	create = group user/q993917361
	push = +force group user/q993917361
	pushMerge = group user/q993917361
[access "refs/tags/*"]
	push = group user/q993917361
	push = +force group user/q993917361
